.rankText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.afterShandow {
  position: relative;
}
.afterShandow::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  background: linear-gradient(to top, #0c1538, rgba(12, 21, 56, 0));
}
.chatFrame {
  transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out;
}
.chatFrame:hover {
  background: #3f8cffa3 !important;
}
.chatFrame:hover .chatFullText {
  color: #fff !important;
}
.semi-tag-grey-light {
  color: #808191;
  background: rgba(228, 228, 228, 0.1);
}
.semi-tag-default,
.semi-tag-small {
  padding: 2px 8px;
  width: 190px;
  height: 56px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 16px;
}
.semi-dropdown-menu {
  margin-top: 10px;
  background: hsla(0, 0%, 100%, 0.6);
  border-radius: 16px;
}
.note-masonry-grid_column {
  width: 30% !important;
}
@media screen and (max-width: 1200px) {
  .note-masonry-grid_column {
    width: 327px !important;
    margin: auto;
  }
}
.InformationBoxIShow {
  height: 160px;
  padding: 13px 21px 21px 20px;
  box-sizing: border-box;
  transition: 1s;
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  .InformationBoxIShow {
    padding: 13px 21px 21px 20px;
    box-sizing: border-box;
    transition: 1s;
    overflow: hidden;
    height: 130px;
  }
}
.MobileInformationBoxIShow {
  height: 160px;
  padding: 13px 21px 21px 20px;
  box-sizing: border-box;
  transition: 1s;
  overflow: hidden;
}
.InformationBox {
  height: 0px;
  padding: 0px 20px;
  box-sizing: border-box;
  transition: 1s;
  overflow: hidden;
}
.InformationBoxHid {
  height: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: 1s;
  overflow: hidden;
}
.IconChevronDownBoxIShow {
  transform: rotate(180deg);
  color: #808191;
  width: 16px;
  height: 16px;
}
@media screen and (max-width: 1440px) {
  .IconChevronDownBoxIShow {
    width: 12px;
    height: 12px;
    transform: rotate(180deg);
    color: #808191;
  }
}
.MobileIconChevronDownBoxIShow {
  transform: rotate(180deg);
  color: #808191;
  width: 16px;
  height: 16px;
}
.IconChevronDownBox {
  transform: rotate(0deg);
  color: #808191;
  width: 16px;
  height: 16px;
}
@media screen and (max-width: 1440px) {
  .IconChevronDownBox {
    width: 12px;
    height: 12px;
    transform: rotate(180deg);
    color: #808191;
  }
}
.MobileIconChevronDownBox {
  transform: rotate(0deg);
  color: #808191;
  width: 16px;
  height: 16px;
}
.PopoverBox .semi-tag-default,
.PopoverBox .semi-tag-small {
  padding: 0px;
  width: 12px;
  height: 12px;
}
.articleBox {
  color: #fff;
  background: #111c44;
  margin-top: 15px;
  padding: 12px;
}
.semi-popover {
  background: #111c44 !important;
  border-radius: 20px !important;
}
.semi-popover-content {
  background: #111c44 !important;
  border-radius: 20px !important;
}
.image-gallery-slide-wrapper.left,
.image-gallery-slide-wrapper.right {
  width: 80% !important;
}
.image-gallery-thumbnails-wrapper.left,
.image-gallery-thumbnails-wrapper.right {
  position: relative;
  /* width:calc(100%-34vw) !important */
  width: 20% !important;
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails,
.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
  left: 50% !important;
  width: 9.8vw !important;
  transform: translateX(-50%);
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail,
.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
  width: 9.8vw !important;
  border-radius: 10px;
  margin-top: 22px !important;
}
.image-gallery-content {
  display: flex !important;
}
.image-gallery-slide-wrapper .image-gallery-left-nav .image-gallery-svg,
.image-gallery-slide-wrapper .image-gallery-right-nav .image-gallery-svg {
  color: #fff;
  width: 8px;
  height: 16px;
}
.image-gallery-slide-wrapper .image-gallery-left-nav,
.image-gallery-slide-wrapper .image-gallery-right-nav {
  padding: 6px 10px;
  top: 5%;
  transform: translateY(-50%);
  background: #242731;
  border-radius: 50%;
}
.image-gallery-slide-wrapper .image-gallery-left-nav {
  left: initial;
  right: 56px;
}
.image-gallery-slide-wrapper .image-gallery-right-nav {
  right: 16px;
}
.image-gallery-icon {
  filter: none !important;
}
@media screen and (max-width: 768px) {
  .image-gallery-slide-wrapper.left,
  .image-gallery-slide-wrapper.right {
    width: 100% !important;
  }
}
.swipperBox .maskSwipper {
  z-index: -1;
  width: 50vw;
  height: 25vw;
  top: 0;
  position: absolute;
  z-index: 100;
}
.swipperBox .left {
  background-image: linear-gradient(to left, rgba(12, 21, 56, 0), rgba(12, 21, 56, 0.7));
  left: -25vw;
}
.swipperBox .right {
  background-image: linear-gradient(to left, rgba(12, 21, 56, 0.7), rgba(12, 21, 56, 0));
  right: -25vw;
}
.swipperBox .swiper-container {
  width: 750px !important;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swipperBox .swiper-slide {
  width: 300px !important;
  margin-top: 30px;
  margin-bottom: 2px;
}
.MGames .swiper-container {
  width: 650px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.MGames .swiper-slide {
  width: 266px;
}
.MGames .swiper-wrapper .swiper-slide-active > div {
  filter: none;
}
.MGames .MShowCreate {
  width: 100%;
  height: 203px;
  background-color: #ffffff;
  position: fixed;
  top: 30%;
  z-index: 999;
  border-radius: 20px;
}
.image-gallery-slide-wrapper.left,
.image-gallery-slide-wrapper.right {
  width: 100% !important;
}
.image-gallery-thumbnails-wrapper.left,
.image-gallery-thumbnails-wrapper.right {
  position: relative;
  /* width:calc(100%-34vw) !important */
  width: 0% !important;
  overflow: hidden;
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails,
.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
  left: 50% !important;
  width: 9.8vw !important;
  position: relative;
  transform: translateX(-50%);
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail,
.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
  width: 9.8vw !important;
  border-radius: 10px;
  margin-top: 22px !important;
}
.image-gallery-content {
  display: flex !important;
}
.image-gallery-slide-wrapper .image-gallery-left-nav .image-gallery-svg,
.image-gallery-slide-wrapper .image-gallery-right-nav .image-gallery-svg {
  color: #fff;
  width: 8px;
  height: 16px;
}
.image-gallery-slide-wrapper .image-gallery-left-nav,
.image-gallery-slide-wrapper .image-gallery-right-nav {
  padding: 6px 10px;
  top: 5%;
  transform: translateY(-50%);
  background: #242731;
  border-radius: 50%;
}
.image-gallery-slide-wrapper .image-gallery-left-nav {
  left: initial;
  right: 56px;
}
.image-gallery-slide-wrapper .image-gallery-right-nav {
  right: 16px;
}
.image-gallery-icon {
  filter: none !important;
}
@media screen and (max-width: 768px) {
  .image-gallery-slide-wrapper.left,
  .image-gallery-slide-wrapper.right {
    width: 100% !important;
  }
}
.font-Inter-SemiBold {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Inter';
  text-align: left;
}
@media screen and (max-width: 1440px) {
  .font-Inter-SemiBold {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter';
    text-align: left;
  }
}
