.overviewTable {
  width: 100%;

  .semi-table-thead>.semi-table-row>.semi-table-row-head {
    background-color: transparent;
    color: var(--semi-color-text-2);
    border-bottom: 1px solid rgba(110, 116, 124, 0.23);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 24px;
    padding-bottom: 5px;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
    position: relative;
    color: #a3aed0;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }

  .semi-table-tbody>.semi-table-row>.semi-table-row-cell {
    display: table-cell;
    word-wrap: break-word;
    word-break: break-all;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--semi-color-border);
    padding: 15px 0px 0px 0px;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
  }


  .overBot {
    background: rgba(17, 28, 68, 1);
    padding: 20px 30px;
    border-radius: 20px;
    margin-top: 24px;

    .overBotTitle {
      opacity: 1;
      color: rgba(255, 255, 255, 1);
      font-size: 24.46px;
      font-weight: 700;
      // font-family: "Helvetica";
      text-align: left;
      line-height: 32.61px;

    }

    .linkIcon {
      color: #ffffff;
    }

    .typeTime {
      opacity: 1;
      color: rgba(163, 174, 208, 1);
      font-size: 14px;
      font-weight: 400;
      font-family: "Inter";
      text-align: left;
    }
  }

  .overTop {
    display: flex;
    justify-content: space-between;


    .overLeft,
    .tokenTrending {
      width: 30%;
      border-radius: 30px;
      padding: 30px 38px;
      opacity: 1;
      background: rgba(17, 28, 68, 1);

      .semi-table-thead>.semi-table-row>.semi-table-row-head {

        padding-top: 0px;

      }

      .tokenName {
        opacity: 1;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 500;
        font-family: "Inter";
        text-align: left;
      }

      .tokenBalance {
        opacity: 1;
        color: rgba(163, 174, 208, 1);
        font-size: 14px;
        font-weight: 500;
        font-family: "Inter";
        text-align: left;
      }

      .token2Usd {
        opacity: 1;
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        font-weight: 500;
        font-family: "Inter";
        text-align: right;
      }

      .tokenPrice {
        opacity: 1;
        color: rgba(163, 174, 208, 1);
        font-size: 14px;
        font-weight: 500;
        font-family: "Inter";
        text-align: right;
      }
    }
  }
}