.CoreNftImg,
.defiItem {
  margin-left: 10px;
}
.CoreNftImg:first-child,
.defiItem:first-child {
  margin-left: 0px;
}
.CoreNftImg:hover .CoreNftHover {
  display: block;
}
.defiItem:hover .CoreNftHover {
  display: block;
}
.CoreNftHover {
  background: #0b1437;
  border-radius: 2.736px 13.68px 13.68px 13.68px;
  box-shadow: 1px 1px 6px #0202025e;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  position: absolute;
  display: none;
  left: 30px;
  margin-top: 10px;
}
.per-tips {
  width: 56px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 6px;
  background: #1b1d21;
  margin-bottom: 16px;
  position: absolute;
  top: -44px;
  right: -27px;
}
.per-tips::after {
  position: absolute;
  content: '';
  left: 46%;
  bottom: -4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-top: 4px solid #1b1d21;
  border-right: 4px solid transparent;
  border-bottom: 0px solid transparent;
}
