.CoreNftImg,
.defiItem {
  margin-left: 10px;
}
.CoreNftImg:first-child,
.defiItem:first-child {
  margin-left: 0px;
}
.CoreNftImg:hover .CoreNftHover {
  display: block;
}
.defiItem:hover .CoreNftHover {
  display: block;
}
.CoreNftHover {
  background: #0b1437;
  border-radius: 2.736px 13.68px 13.68px 13.68px;
  box-shadow: 1px 1px 6px #0202025e;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  position: absolute;
  display: none;
  left: 30px;
  margin-top: 10px;
}
.per-tips {
  width: 56px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 6px;
  background: #1b1d21;
  margin-bottom: 16px;
  position: absolute;
  top: -44px;
  right: -27px;
}
.per-tips::after {
  position: absolute;
  content: '';
  left: 46%;
  bottom: -4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-top: 4px solid #1b1d21;
  border-right: 4px solid transparent;
  border-bottom: 0px solid transparent;
}
.IconTickCircle {
  font-size: 16px;
  color: #7fba7a;
  margin-left: 17px;
}
.css-11fb1j9 {
  background-color: #3f8cff !important;
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../../assets/font/Inter-SemiBold.ttf');
}
.chakra-stack {
  align-items: center;
}
.chakra-avatar__excess.css-11fb1j9 {
  width: 43px;
  height: 43px;
  z-index: 1;
  font-size: 16px;
  font-weight: 700;
}
.yscroll {
  overflow-y: auto;
  padding: 10px 0 !important;
  padding-right: 10px !important;
  height: 827px !important;
}
@media screen and (max-width: 1440px) {
  .yscroll {
    height: 585px !important;
  }
}
.yscroll::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  margin-left: 10px;
}
.yscroll::-webkit-scrollbar-thumb {
  width: 8px;
  height: 78px !important;
  background: #6656ff;
  border-radius: 4px;
}
.symbol {
  background: #ffffff;
  width: 7px;
  height: 2px;
  margin: 2px 0;
}
.public-DraftEditorPlaceholder-root {
  color: rgba(145, 151, 163, 0.5) !important;
}
.public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-hasFocus {
  color: rgba(145, 151, 163, 0.5);
}
.animate {
  animation: scaleDraw 1s ease-in-out infinite;
  border-color: #0049c6 !important;
}
@keyframes scaleDraw {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
}
em-emoji-picker {
  --rgb-background: 17, 28, 67;
  margin-bottom: 40px;
}
.bf-dropdown .dropdown-content-inner {
  background-color: #0b1437 !important;
}
@media screen and (max-width: 1440px) {
  .chakra-avatar__excess.css-11fb1j9 {
    width: 32px;
    height: 32px;
    font-size: 12px;
  }
}
.per-tips {
  width: 56px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 6px;
  background: #1b1d21;
  margin-bottom: 16px;
  position: absolute;
  top: -44px;
  right: -27px;
}
.per-tips::after {
  position: absolute;
  content: '';
  left: 46%;
  bottom: -4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-top: 4px solid #1b1d21;
  border-right: 4px solid transparent;
  border-bottom: 0px solid transparent;
}
@media screen and (max-width: 768px) {
  .boder-line {
    background-color: #fff;
    opacity: 0.05;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    border-radius: 24px;
    bottom: -5px;
  }
  .boder-line:last-child {
    opacity: 0.05;
    bottom: -10px;
  }
  .font-Inter-SemiBold {
    font-family: Inter-SemiBold;
  }
}
video {
  height: 100px;
  width: 100px;
}
.CoreNftImg,
.defiItem {
  margin-left: 10px;
}
.CoreNftImg:first-child,
.defiItem:first-child {
  margin-left: 0px;
}
.CoreNftImg:hover .CoreNftHover {
  display: block;
}
.defiItem:hover .CoreNftHover {
  display: block;
}
.CoreNftHover {
  background: #0b1437;
  border-radius: 2.736px 13.68px 13.68px 13.68px;
  box-shadow: 1px 1px 6px #0202025e;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  position: absolute;
  display: none;
  left: 30px;
  margin-top: 10px;
}
.WriteCommentBtn {
  left: 56%;
}
@media screen and (max-width: 1440px) {
  .WriteCommentBtn {
    left: 49.5%;
  }
}
