
.semi-navigation {
  height: 100vh !important;
  background-color: #111C44 !important;
  width: 287px;
}
.semi-navigation-collapsed {
height: 100vh !important;
width: 95px;
}
.NavBar{
  .semi-navigation-list > .semi-navigation-item {
    font-weight: 400;
    font-size: 16px;
    color: #A5AFCD;
}
.semi-navigation-item-icon-info {
  color: #A5AFCD;
}
.semi-navigation-item-selected {

  color: #fff;
}
.semi-navigation-header-logo {
  margin-left: 0;
  margin-right: 8px;
  display: inline-flex;
  width: 162px;
  height: 45px;
  margin: auto;
}
.semi-navigation-header-logo > .semi-icon, .semi-navigation-header-logo > img {
  width: 162px;
  height: 45px;
  object-fit: scale-down;
}
.iconfont {

  font-size: 18px;
  
}
.semi-navigation-sub-wrap .semi-navigation-sub-title, .semi-navigation-item{
  padding: 8px 28px;
  margin-bottom: 29px;
}

}
.semi-navigation-vertical .semi-navigation-list > .semi-navigation-item-selected:not(.semi-navigation-item-disabled).semi-navigation-item-normal:hover .semi-navigation-item-icon:first-child {
  color: #fff;
}
.semi-navigation-item-normal:hover:not(.semi-navigation-item-selected) .semi-navigation-item-icon:first-child {
  color: #fff;
}
.semi-navigation-item-normal:hover:not(.semi-navigation-item-selected) {
  color: #fff !important;
}
.semi-navigation-item-selected {
  background-color: rgba(255, 255, 255, 0);
  color: #fff !important;
}
.semi-navigation-item-selected .semi-navigation-item-icon:first-child {
  color: #fff;
}
  .semi-icon-default {
    font-size: 18px;
  }
  .semi-navigation-vertical .semi-navigation-footer {
    
    padding-left: 24px;
  }
  .semi-navigation-vertical .semi-navigation-footer .semi-navigation-collapse-btn > .semi-button{
    color: #fff;
  }

.semi-navigation-vertical .semi-navigation-header-collapsed{
  padding-left: 19.5px ;
}
.semi-navigation-vertical .semi-navigation-header{
  padding-top: 50px ;
  padding-bottom: 75px ;
}