.SignUp {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.SignUp input::-webkit-input-placeholder {
  color: #A3AED0;
}
.SignUp input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #A3AED0;
}
.SignUp input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #A3AED0;
}
.SignUp input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #A3AED0;
}
.SignUp .signInLeft {
  width: 50vw;
  height: 100%;
  padding: 40px 0px 40px 300px;
}
.SignUp .signInLeft .leftHeader a {
  opacity: 1;
  color: #a3aed0;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
  text-align: left;
  cursor: pointer;
  text-decoration: none;
}
.SignUp .signInLeft .leftContent {
  margin-top: 200px;
}
.SignUp .signInLeft .leftContent .leftTitle {
  opacity: 1;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  font-family: "Inter";
  text-align: left;
}
.SignUp .signInLeft .leftContent .leftInfo {
  opacity: 1;
  color: #a3aed0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter";
  text-align: left;
  line-height: 16px;
  margin-top: 16px;
}
.SignUp .signInLeft .leftContent .inputCell {
  margin-top: 26px;
}
.SignUp .signInLeft .leftContent .inputCell .cellTitle {
  opacity: 1;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
  text-align: left;
  line-height: 14px;
}
.SignUp .signInLeft .leftContent .inputCell .cellTitle span {
  opacity: 1;
  color: #7551ff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
  text-align: left;
  line-height: 14px;
}
.SignUp .signInLeft .leftContent .inputCell .cellTitle .cellErr {
  color: #a70404;
  font-weight: 500;
}
.SignUp .signInLeft .leftContent .inputCell .cellInput {
  margin-top: 14px;
  position: relative;
}
.SignUp .signInLeft .leftContent .inputCell .cellInput .semi-input-wrapper-clearable,
.SignUp .signInLeft .leftContent .inputCell .cellInput .semi-input-wrapper-modebtn {
  border: none !important;
}
.SignUp .signInLeft .leftContent .inputCell .cellInput .send {
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 360px;
  transform: translateY(-50%);
}
.SignUp .signInLeft .leftContent .inputCell .cellInput .semi-input-wrapper .semi-icon {
  color: #fff;
}
.SignUp .signInLeft .leftContent .inputCell .cellInput .semi-input-wrapper .semi-icon:hover {
  color: #734ffd;
}
.SignUp .signInLeft .leftContent .inputCell .cellInput .semi-input-wrapper-default,
.SignUp .signInLeft .leftContent .inputCell .cellInput .semi-input-wrapper {
  width: 410px;
  height: 50px;
  border-radius: 16px !important;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}
.SignUp .signInLeft .leftContent .inputCell .cellInput .semi-input-wrapper-default input,
.SignUp .signInLeft .leftContent .inputCell .cellInput .semi-input-wrapper input {
  width: 410px;
  height: 50px;
}
.SignUp .signInLeft .leftContent .CheckboxCell {
  display: flex;
  justify-content: space-between;
  width: 410px;
  margin-top: 31px;
}
.SignUp .signInLeft .leftContent .CheckboxCell .semi-checkbox-addon {
  color: #fff !important;
  opacity: 1;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  text-align: left;
  line-height: 20px;
}
.SignUp .signInLeft .leftContent .CheckboxCell .semi-checkbox {
  align-items: flex-start;
}
.SignUp .signInLeft .leftContent .CheckboxCell .semi-checkbox-inner-display {
  box-shadow: inset 0 0 0 1px #fff;
}
.SignUp .signInLeft .leftContent .CheckboxCell .semi-checkbox-indeterminate .semi-checkbox-inner-display,
.SignUp .signInLeft .leftContent .CheckboxCell .semi-checkbox-checked .semi-checkbox-inner-display {
  background: #7551FF;
  color: #FFF;
  box-shadow: inset 0 0 0 1px transparent;
}
.SignUp .signInLeft .leftContent .CheckboxCell a {
  color: #fff;
  text-decoration: none;
  opacity: 1;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
  text-align: left;
  line-height: 20px;
}
.SignUp .signInLeft .leftContent .buttonCell {
  width: 410px;
  height: 54px;
  border-radius: 16px;
  background: #7551ff;
  opacity: 1;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  font-family: "Inter";
  text-align: center;
  line-height: 54px;
  margin-top: 33px;
  cursor: pointer;
  user-select: none;
}
.SignUp .signInLeft .leftContent .signUpTips {
  opacity: 1;
  color: #a3aed0;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 26px;
  font-family: "Inter";
  margin-top: 26px;
}
.SignUp .signInLeft .leftContent .signUpTips a {
  opacity: 1;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  line-height: 26px;
  font-family: "Inter";
  text-decoration: none;
}
.SignUp .signInRight {
  width: 50vw;
}
.SignUp .signInRight img {
  width: 100%;
  height: 100%;
}
.SignUp .signInfooter {
  display: flex;
  color: #FFF;
  position: absolute;
  bottom: 40px;
}
.SignUp .signInfooter .footerLeft {
  padding-left: 300px;
  width: 50vw;
}
.SignUp .signInfooter .footerRight {
  display: flex;
  width: 50vw;
  padding-left: 300px;
}
.SignUp .signInfooter .footerRight div {
  margin-right: 51px;
}
@media screen and (max-width: 1440px) {
  .SignUp .signInLeft {
    padding: 30px 0px 30px 230px;
  }
  .SignUp .signInLeft .leftHeader a {
    font-size: 12px;
  }
  .SignUp .signInLeft .leftContent {
    margin-top: 150px;
  }
  .SignUp .signInLeft .leftContent .leftTitle {
    font-size: 27px;
  }
  .SignUp .signInLeft .leftContent .leftInfo {
    font-size: 12px;
  }
  .SignUp .signInLeft .leftContent .inputCell {
    margin-top: 18px;
  }
  .SignUp .signInLeft .leftContent .inputCell .cellTitle {
    font-size: 12px;
  }
  .SignUp .signInLeft .leftContent .inputCell .cellTitle span {
    font-size: 12px;
  }
  .SignUp .signInLeft .leftContent .inputCell .cellInput {
    margin-top: 14px;
  }
  .SignUp .signInLeft .leftContent .inputCell .cellInput .send {
    left: 320px;
  }
  .SignUp .signInLeft .leftContent .inputCell .cellInput .semi-input-wrapper-default {
    width: 370px;
    height: 37px;
  }
  .SignUp .signInLeft .leftContent .inputCell .cellInput .semi-input-wrapper-default input {
    width: 370px;
    height: 37px;
  }
  .SignUp .signInLeft .leftContent .CheckboxCell {
    width: 370px;
    margin-top: 23px;
  }
  .SignUp .signInLeft .leftContent .CheckboxCell .semi-checkbox-addon,
  .SignUp .signInLeft .leftContent .CheckboxCell a {
    font-size: 12px;
  }
  .SignUp .signInLeft .leftContent .buttonCell {
    width: 370px;
    font-size: 12px;
  }
  .SignUp .signInLeft .leftContent .signUpTips {
    font-size: 12px;
    margin-top: 19px;
  }
  .SignUp .signInLeft .leftContent .signUpTips a {
    font-size: 12px;
  }
  .SignUp .signInfooter {
    bottom: 30px;
  }
  .SignUp .signInfooter .footerLeft {
    padding-left: 230px;
    width: 50vw;
    font-size: 12px;
  }
  .SignUp .signInfooter .footerRight {
    display: flex;
    width: 50vw;
    font-size: 12px;
    padding-left: 230px;
  }
  .SignUp .signInfooter .footerRight div {
    margin-right: 38px;
  }
}
@media screen and (max-width: 735px) {
  .SignUp .signInLeft {
    padding: 30px 40px !important;
    width: 100% !important;
  }
  .SignUp .signInLeft .leftHeader a {
    font-size: 12px;
  }
  .SignUp .signInLeft .leftContent {
    margin-top: 50px !important;
    display: flex;
    flex-direction: column;
  }
  .SignUp .signInLeft .leftContent .inputCell {
    margin-top: 18px;
  }
  .SignUp .signInLeft .leftContent .inputCell .cellInput .semi-input-wrapper-default {
    width: 300px !important;
  }
  .SignUp .signInLeft .leftContent .inputCell .cellInput .semi-input-wrapper-default input {
    width: 300px !important;
  }
  .SignUp .signInLeft .leftContent .CheckboxCell {
    width: 300px !important;
  }
  .SignUp .signInLeft .leftContent .buttonCell {
    width: 300px !important;
  }
  .SignUp .signInRight {
    display: none;
  }
  .SignUp .signInfooter {
    bottom: 30px;
    padding: 0 30px;
    flex-direction: column;
  }
  .SignUp .signInfooter .footerLeft {
    padding-left: 0px !important;
    width: 100% !important;
    font-size: 12px;
  }
  .SignUp .signInfooter .footerRight {
    display: flex;
    padding-left: 0px !important;
    width: 100% !important;
    margin-top: 30px;
    justify-content: space-around;
  }
  .SignUp .signInfooter .footerRight div {
    white-space: nowrap;
  }
}
